<?xml version="1.0"?>
<launch>

  <node pkg="driver_blvd_controller" type="Navigation_control" name="Echo_navigation" output="screen">
  </node>
  
  <arg name="port" default="/dev/AGV-BLDV20KM"/>
  <arg name="baud" default="115200"/>
  <node pkg="driver_blvd_controller" type="blvd20km_controller" name="Driver_motor" args="$(arg baud) $(arg port)" output="screen">
  </node>
 
<!--    <node pkg="driver_blvd_controller" type="odometry" name="odometry_publisher" output="screen"> 
   </node> --> 

</launch>